CLICKUP_API_TOKEN=
CLICKUP_LIST_ID=901816934074
CLICKUP_LEAD_ID_FIELD_ID=bd4f9e11-38ed-4118-8440-51cf4babdda0
GOOGLE_SERVICE_ACCOUNT_FILE=/app/secrets/forms-463112-ed41b17dee78.json
GOOGLE_SPREADSHEET_ID=1rgDZyruvM-0CpLThiLktyAb-jJJO7jiXCZakp_4ccac
GOOGLE_LEADS_SHEET_NAME=Leads
GOOGLE_MAPPING_SHEET_NAME=columns
